<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>New URL - TinyApp Example</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success" style="height: 70px;">
    </nav>
  </header>
  <div> 
    <form method="POST" action="/register">
      <table style="border:1px ;margin-left:auto;margin-right:auto;">

        <tr>
         <td>   <label for="email"><b>Email</b></label></td>
            <td><input " type="email" name="email" placeholder="email"
              style="width: 300px; height:40px; border-radius: 5px;margin: 1em">
          </td>
        </tr> <tr>
          <td>
            <label for="password"><b>Password</b></label></td>
         <td>  <input " type="password" name="password" placeholder="password" style="width: 300px;  height:40px; border-radius: 5px;margin: 1em">

          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center" > 
            <button class="btn btn-primary" type="submit" class="btn ">Register</button>
          </td>
        </tr>

      </table>

    </form>
  </div>
</body>

</html>